body{
   background-color: #f6f6f6; 
}

/* Sesao-p1 */

.contpag1 {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 10px 0px 131px 0px;
 background-image: url('../../assets/images/fundo.svg');
 color: #f6f6f6;
 background-color: #404eed;
}

.p1-cabecalho {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 1280px;

 margin-bottom: 140px;
}

.contpag1 > h1 {
 font: 56px 'discord1';
 width: 550px;
 text-align: center;
 line-height: 45px;

 margin-bottom: 50px;
}
.contpag1 > p {
 font: 20px 'discord2';
 width: 780px;
 text-align: center;
 line-height: 32px;

 margin-bottom: 30px;
}

.p1-menu {
display: flex;
flex-direction: row;
}

.p1-menu a {
   margin: 5px 20px;
}

.p1-botoes {
display: flex;
flex-direction: row;

}

.p1-botoes > a {
font: 20px 'discord3';   
background-color: #f6f6f6;
color: #23272a;
padding: 15px 30px;
border-radius: 30px;

margin: 0px 10px;
display: flex;
align-items: center;
}

.p1-escuro {  
   background-color:#23272a !important;
   color: #f6f6f6 !important;
   }

.p1-botoes > a > svg {
   margin-right: 10px;
}   
/* Sesao-p2 */

.contpag2 {
 display: flex;
 flex-direction: row;
 justify-content: center;

 padding: 50px 0px;
}

.pag-texto2 {
display: flex;
flex-direction: column;
width: 350px;

}

.pag-texto2 h1 {
font: 50px 'discord5';
color: #000;
line-height: 60px;
margin-bottom: 22px;
}

.pag-texto2 p {
font: 20px 'discord2';
color: #000;
line-height: 32px;
}

.contpag2 > * {
   margin: 0px 50px; 
}